
node_modules/
dist/
.env
.DS_Store

# Ignore ClinVar import VCF file
clinvar.vcf

__pycache__/
variomex-app/db.json
variomex-app/upload-metadata.json
variomex-app/mutate.vcf
variomex-app/uploads/

